body {
  background-color: black;
}


.logo a {
  font-size: 17px;
}
.logo {
  background-color: #060607;
  margin: 0 auto;
}

.logo img {
  max-width: 30%;
  margin: 5px auto;
  display: flex;
  border-radius: 100%;
  border: 2px #8f8d8d solid;
}
.sidebar {
  font-family: "Montserrat", sans-serif;
  color: rgb(190, 186, 186);
  padding-bottom: 100px;
}



a {
  text-decoration: none;
  color: rgb(161, 161, 161);
  list-style: none;
}
.hover:hover {
  background-color: rgb(110, 110, 184);
}
.svg:hover {
  background-color: rgb(254, 254, 255);
}
/* 
.section1 {
  margin: 1px auto;
}

.section2 {
  margin-top: 50px;
}

.section3 {
  margin-top: 30px;
} */

.headers {
  text-align: center;
  padding: 6px;
}

.sidebar ul li {
  list-style: none;
}

.search-bar {
  background-color: #232327;
  width: 30%;
  height: 25px;
  border-radius: 6px;
  padding: 2%;
}
/* This is just hard core racist, likw why you gat  to pick on all of them */
/* input {
  position: relative;
  background-color: #232327;
  width: 400px;
  height: 20px;
  border-radius: 5px;
  border: #232327;
  color: #cacaca;
} */

.search-bar{
  background-color: #232327;
  width: 70%;
  border-radius: 6px;
  padding: 20px 3%;
  color: white;
  border: none;
}
::placeholder {
  position: absolute;
  padding-left: 10px;
  font-size: 12px;
  color: rgb(80, 102, 102);
  padding-top: 0.2px;
}
.jumbotron {
  background-image: linear-gradient(
    180deg,
    rgba(83, 74, 74, 0.87),
    rgba(32, 32, 43, 0.877)
  );
  height: 300px;
}
.jumbotron img {
  width: 1010px;
  height: 200px;
  border-radius: 30px;
  top: 70px;
}

.head-text {
 
  font-size: larger;
}
.setting {
  font-size: 20px;
  color: rgb(162, 171, 179);
}

.setting:hover {
  color: #414147;
}
.profile:hover {
  color: #414147;
}

.profile {
  font-size: 23px;
  color: rgb(162, 171, 179);
}

.img-text {
  font-family: "Crimson Text", serif;
  font-family: "DM Serif Display", serif;
  font-family: "Montserrat", sans-serif;
  font-family: "Russo One", sans-serif;
  font-size: 8px;
  color: #232327;
}

.Top-albums {
  color: aliceblue;
  font-size: 15px;
  display: flex;
  margin: 5px 0;
}

.cover{
  margin: auto 0;
  padding: 10px;
}
.cover img {
  max-width: 160px;
  padding: 0 5px;
}
.add1 img {
  width: 150px;

  height: 160px;
}
::-webkit-scrollbar {
  width: 6px;
  height: 1px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgb(0, 0, 0);
  border-radius: 7px;
}

::-webkit-scrollbar-thumb {
  background: rgb(0, 0, 0);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(0, 0, 0);
}
.cover-text {
  color: aliceblue;
  font-size: 12px;
}

.Popular {
  color: aliceblue;
  font-size: 25px;
}

.content2 {
  width: 750px;
  height: 218px;
 
  border-radius: 10px;
  background-color: #121213;
  overflow-x: scroll;
}

.cover img {
  max-width: 150px;
  
  border-radius: 80px;
}

.cover-text {
  color: aliceblue;

  font-size: 12px;
}
.cover-text-add{
  color: aliceblue;
  font-size: 12px;
}


.Recently {
  color: aliceblue;
  font-size: 24px;
}

.content3 {
  width: 750px;
  height: 238px;
  border-radius: 10px;
  background-color: #121213;
  overflow-x: scroll;
}

.cover:nth-child(1):hover {
  background-color: #3a3a3f;
  border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
}
.album-add:hover, .cover:hover{
  background-color: #3a3a3f;
}

.blank2 {
  background-color: #121213;

  width: 340px;
  height: 280px;
  border-radius: 7px;
}
.playing {
  color: #b3b1b1;
  background-color: #0e0e0e;
  width: 300px;
  height: 30px;
  border-radius: 10px;
  padding-left: 20px;
  padding-bottom: 10px;
  border: solid #313131 3px;
  font-size: 13px;
}
.playing1:hover {
  background-color: rgb(33, 33, 39);
}

.text1 {
  font-size: 12px;
}
.icont {
  color: #cacaca;
  font-size: 15px;
}
.blank {
  background-color: #8b8bad;
  width: 310px;
  height: 336px;
  border-radius: 8px;
}
.podcast img {
  width: 300px;
  height: 328px;
  background-color: #121213;
}

.podd {
  color: aliceblue;
  font-size: 24px;
}

.tiny1 img {
  max-width: 30px;
  border-radius: 6px;
}

.player {
  color: rgb(129, 132, 134);
  background-color: #09090c;
  /* border-radius: 2px; */
  /* position: fixed; */
  /* bottom: 0; */
  /* right: 0; */
  /* left: 0; */
  position:absolute;
  bottom:0;
  width:100%;
  height:10%;
  display: inline-flex;
  /* top: 650px; */
  /* margin-top: 0px; */
}



.next {
  color: rgb(138, 135, 135);
  font-size: 20px;
  
}
.next:hover {
  background-color: rgb(77, 88, 88);
}
.player .previous:hover {
  background-color: rgb(77, 88, 88);
}

.player .repeat:hover {
  background-color: rgb(77, 88, 88);
}

.player .shuffle:hover {
  background-color: rgb(77, 88, 88);
}

.player .volume:hover {
  background-color: rgb(77, 88, 88);
}
.player .play:hover {
  background-color: rgb(77, 88, 88);
}
.player .queue:hover {
  background-color: rgb(77, 88, 88);
}

.previous {
  color: rgb(138, 135, 135);
  font-size: 20px;
  
}

.play {
  color: rgb(138, 135, 135);
  font-size: 25px;
 
}

.shuffle {
  color: rgb(138, 135, 135);
  font-size: 20px;
  
}

.repeat {
  color: rgb(138, 135, 135);
  font-size: 20px;
}
.volume {
  color: rgb(138, 135, 135);
  font-size: 20px;
}

.queue {
  color: rgb(138, 135, 135);
  font-size: 25px;
 
}
.fav {
  color: rgb(138, 135, 135);
  font-size: 23px;
  /* margin: 0 8%; */
  text-align: center;
  margin: auto 0;
  padding: 2% !important;
}

.fav:hover {
  color: rgb(134, 157, 157);
}
.progress-bar1 {
  height: 4px;
  border-radius: 10px;
  width: 40%;
  background-color: rgb(138, 135, 135);
  position: absolute;
  margin-left: 390px;
  top: 42px;
}

.progress-bar2 {
  height: 4px;
  border-radius: 10px;
  width: 7.5%;
  background-color: rgb(138, 135, 135);
  position: absolute;
  margin-left: 82%;
  top: 25px;
}
.up {
  color: rgb(138, 135, 135);
  font-size: 23px;
}
.up:hover {
  background-color: rgb(77, 88, 88);
}

.mil{
  display: inline-flex;
}


/* .now a{
  text-decoration: none;
  color: rgb(206, 204, 204);
  font-size: 10px;
} */

.now-playing{
  display: block;
}

.audio{
  position: absolute;
}

.round{
  position: absolute;
  color: white;
  left: 500px;
  top: 38px;
}

.round1{
  position: absolute;
  color: white;
  left: 1140px;
  top: 21px;
}




.one{
  color: #cacaca;
  position: absolute;
  left: 360px;
  top: 35px;
}
.two{
  color: #cacaca;
  position: absolute;
  left: 940px;
  top: 35px;
}




/* @media screen and (max-width: 500px) {
  #dashboard {
    display: none;
  }
  .the-image-intro img {
    position: unset;
    
    top: 70px;
    width: 70%;
} */
/* } */