@import url("https://fonts.googleapis.com/css2?family=Caveat&family=Varela+Round&display=swap");

#slider {
  text-align: center;
}
#slider input[type="radio"] {
  display: none;
}
#slider label {
  cursor: pointer;
  text-decoration: none;
}
#slides {
  background: #fff;
}
#overflow {
  width: 100%;
  overflow: hidden;
}
#slide1:checked ~ #slides .inner {
  margin-left: 0;
}
#slide2:checked ~ #slides .inner {
  margin-left: -100%;
}
#slide3:checked ~ #slides .inner {
  margin-left: -200%;
}

#slides .inner {
  transition: margin-left 800ms cubic-bezier(0.77, 0, 0.175, 1);
  width: 400%;
  height: 300px;
}
#slides .slide {
  width: 25%;
  float: left;
  display: flex;
  justify-content: left;
  align-items: left;
  height: 100%;
  color: #fff;
}
#slides div {
  background-size: cover;
  background-repeat: no-repeat;
}
.slide-content {
	font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: left;
    padding-left: 5%;
	margin: auto 0;
}
#controls {
  margin: -180px 0 0 0;
}
#controls label {
  transition: opacity 0.2s ease-out;
  display: none;
  width: 50px;
  height: 50px;
  opacity: 0.4;
}
#controls label:hover {
  opacity: 1;
}
#slide1:checked ~ #controls label:nth-child(2),
#slide2:checked ~ #controls label:nth-child(3),
#slide3:checked ~ #controls label:nth-child(4),
#slide4:checked ~ #controls label:nth-child(1) {
  background: url(https://image.flaticon.com/icons/svg/130/130884.svg) no-repeat;
  float: right;
  margin: 0 -50px 0 0;
  display: block;
}
#slide1:checked ~ #controls label:nth-last-child(2),
#slide2:checked ~ #controls label:nth-last-child(3),
#slide3:checked ~ #controls label:nth-last-child(4),
#slide4:checked ~ #controls label:nth-last-child(1) {
  background: url(https://image.flaticon.com/icons/svg/130/130882.svg) no-repeat;
  float: left;
  margin: 0 0 0 -50px;
  display: block;
}
#bullets {
  margin: 150px 0 0;
  text-align: center;
}
#bullets label {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background: #ccc;
  margin: 0 10px;
}
#slide1:checked ~ #bullets label:nth-child(1),
#slide2:checked ~ #bullets label:nth-child(2),
#slide3:checked ~ #bullets label:nth-child(3),
#slide4:checked ~ #bullets label:nth-child(4) {
  background: #444;
}
@media screen and (max-width: 900px) {
  #slide1:checked ~ #controls label:nth-child(2),
  #slide2:checked ~ #controls label:nth-child(3),
  #slide3:checked ~ #controls label:nth-child(4),
  #slide4:checked ~ #controls label:nth-child(1),
  #slide1:checked ~ #controls label:nth-last-child(2),
  #slide2:checked ~ #controls label:nth-last-child(3),
  #slide3:checked ~ #controls label:nth-last-child(4),
  #slide4:checked ~ #controls label:nth-last-child(1) {
    margin: 0;
  }
}

.fa-2x {
<<<<<<< HEAD
  font-size: 2em;
}
.fa {
  position: relative;
  display: table-cell;
  width: 60px;
  height: 36px;
  text-align: center;
  vertical-align: middle;
  font-size: 20px;
}

.main-menu {
  background: #212121;
  border-right: 1px solid #e5e5e5;
  position: absolute;
  top: 0;
  bottom: 0;
  height: 100%;
  right: 0;
  /* width: 0; */
  overflow: hidden;
  overflow-y: scroll;
  -webkit-transition: width 0.05s linear;
  transition: width 0.05s linear;
  -webkit-transform: translateZ(0) scale(1, 1);
  z-index: 1000;
  /* display: none; */
}

.main-menu > ul {
  margin: 7px 0;
}

.main-menu li {
  position: relative;
  display: block;
  width: 250px;
}

.main-menu li > a {
  position: relative;
  display: table;
  border-collapse: collapse;
  border-spacing: 0;
  color: #999;
  font-family: arial;
  font-size: 14px;
  text-decoration: none;
  -webkit-transform: translateZ(0) scale(1, 1);
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
}

/*  */

.main-menu .nav-text {
  /* position:relative; */
  display: table-cell;
  vertical-align: middle;
  width: 100%;
  font-family: "Titillium Web", sans-serif;
}

/* .no-touch .scrollable.hover {
=======
	font-size: 2em;
	}
	.fa {
	position: relative;
	display: table-cell;
	width: 60px;
	height: 36px;
	text-align: center;
	vertical-align: middle;
	font-size:20px;
	}
	
	
	
	.main-menu {
	background:#212121;
	border-right:1px solid #e5e5e5;
	position:absolute;
	top:0;
	bottom:0;
	height:100%;
	right:0;
	/* width: 0; */
	overflow:hidden;
	overflow-y: scroll;
	-webkit-transition:width .05s linear;
	transition:width .05s linear;
	-webkit-transform:translateZ(0) scale(1,1);
	transform:translateZ(0) scale(1,1);
	z-index:1000;
	/* display: none; */

	}
	
	.main-menu>ul {
	margin:7px 0;
	}
	
	.main-menu li {
	position:relative;
	display:block;
	width:250px;
	}
	
	.main-menu li>a {
	position:relative;
	display:table;
	border-collapse:collapse;
	border-spacing:0;
	color:#999;
	 font-family: arial;
	font-size: 14px;
	text-decoration:none;
	-webkit-transform:translateZ(0) scale(1,1);
	-webkit-transition:all .1s linear;
	transition:all .1s linear;
	transform:translateZ(0) scale(1,1);
	}
	
	/*  */
	
	.main-menu .nav-text {
	/* position:relative; */
	display:table-cell;
	vertical-align:middle;
	width: 100%;
	  font-family: 'Titillium Web', sans-serif;
	}
	
	
	/* .no-touch .scrollable.hover {
>>>>>>> 57a30dfc818cea9a20982117a16c28622aaa7e8d
	overflow-y:hidden;
	}
	
	.no-touch .scrollable.hover:hover {
	overflow-y:auto;
	overflow:visible;
	}
	 */
a:hover,
a:focus {
  text-decoration: none;
}

nav {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

nav ul,
nav li {
  outline: 0;
  margin: 0;
  padding: 0;
}
.main-menu li:hover > a,
nav.main-menu li.active > a,
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus,
.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus,
.no-touch .dashboard-page nav.dashboard-menu ul li:hover a,
.dashboard-page nav.dashboard-menu ul li.active a {
  color: #fff;
  background-color: #000000;
}
.area {
  float: left;
  background: #e2e2e2;
  width: 100%;
  height: 100%;
}

body {
  font-family: "Caveat", cursive;
  font-family: "Varela Round", sans-serif;
}

.main_div {
  position: relative;
}
.sub_div {
  position: absolute;
  bottom: 0px;
}
body {
  height: 100vh;
  background-color: #ffff;
  overflow: hidden;
  padding: 0;
  margin: 0;
}
#dashboard {
  height: 100vh;
  min-width: 20%;
  max-width: 21%;
  background-image: linear-gradient(180deg, #000000, #232327);
  overflow-y: scroll;
}
/* h2,p{
  padding: 20px;
  margin: 0;
}
h2 {
  font-size: xxx-large;
  margin-left: -40px;
}
h5,h6{
	margin-left: 60px;
    padding: 20px 0;
    width: 205px;
}
h6{
	margin-left: 30px;
} */

.TuneWave {
  padding: 5px 0;
  text-align: center;
}
.section ul li {
  padding: 10px;
}
.container {
  width: inherit;
  display: flex;
  margin: 0 auto;
  /* height: calc(100% - 43px); */
}
.mil {
  padding: 5px;
}

#player-range {
  /* removing default appearance */
  -webkit-appearance: none;
  appearance: none;
  /* creating a custom design */
  width: 100%;
  height: 10px;
  cursor: pointer;
  outline: none;
  overflow: hidden;
  border-radius: 16px;
}
#player-range::-webkit-slider-thumb {
  /* removing default appearance */
  -webkit-appearance: none;
  appearance: none;
  /* creating a custom design */
  height: 15px;
  width: 15px;
  background-color: #fff;
  border-radius: 50%;
  border: 2px solid #f50;
  box-shadow: -407px 0 0 400px #f50;
}

/* Thumb: Firefox */
#player-range::-moz-range-thumb {
  /*  ...  */
  height: 15px;
  width: 15px;
  background-color: #fff;
  border-radius: 50%;
  border: 2px solid #f50;
  /*  slider progress trick  */
  box-shadow: -407px 0 0 400px #f50;
}

.flex-player {
  display: block;
  width: 100%;
}

.controls {
  display: flex;
  padding: unset !important;
  margin: 3px 0px;
}

<<<<<<< HEAD
.controls div {
  margin: 0 auto;
  font-size: larger;
=======
.controls div{
	margin: 0 auto;
>>>>>>> 57a30dfc818cea9a20982117a16c28622aaa7e8d
}

.now {
  margin: auto 6px;
}
#now-playing {
  height: fit-content;
  margin: auto 0;
}
/* === range theme and appearance === */
input[type="range"] {
  font-size: 1rem;
  width: 100%;
}

input[type="range"] {
  color: #ef233c;
  --thumb-height: 1.125em;
  --track-height: 0.125em;
  --track-color: rgba(0, 0, 0, 0.2);
  --brightness-hover: 180%;
  --brightness-down: 80%;
  --clip-edges: 0.125em;
}

input[type="range"].win10-thumb {
  color: #2b2d42;

  --thumb-height: 1.375em;
  --thumb-width: 0.5em;
  --clip-edges: 0.0125em;
}

@media (prefers-color-scheme: dark) {
  html {
    background-color: #000;
  }

  html::before {
    background: radial-gradient(circle at center, #101112, #000);
  }

  input[type="range"] {
    color: #f07167;
    --track-color: rgba(255, 255, 255, 0.1);
  }

  input[type="range"].win10-thumb {
    color: #3a86ff;
  }
}

/* === range commons === */
input[type="range"] {
  position: relative;
  background: #fff0;
  overflow: hidden;
}

input[type="range"]:active {
  cursor: grabbing;
}

input[type="range"]:disabled {
  filter: grayscale(1);
  opacity: 0.3;
  cursor: not-allowed;
}

/* === WebKit specific styles === */
input[type="range"],
input[type="range"]::-webkit-slider-runnable-track,
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  transition: all ease 100ms;
  height: var(--thumb-height);
}

input[type="range"]::-webkit-slider-runnable-track,
input[type="range"]::-webkit-slider-thumb {
  position: relative;
}

input[type="range"]::-webkit-slider-thumb {
  --thumb-radius: calc((var(--thumb-height) * 0.5) - 1px);
  --clip-top: calc((var(--thumb-height) - var(--track-height)) * 0.5 - 0.5px);
  --clip-bottom: calc(var(--thumb-height) - var(--clip-top));
  --clip-further: calc(100% + 1px);
  --box-fill: calc(-100vmax - var(--thumb-width, var(--thumb-height))) 0 0
    100vmax currentColor;

  width: var(--thumb-width, var(--thumb-height));
  background: linear-gradient(currentColor 0 0) scroll no-repeat left center /
    50% calc(var(--track-height) + 1px);
  background-color: currentColor;
  box-shadow: var(--box-fill);
  border-radius: var(--thumb-width, var(--thumb-height));

  filter: brightness(100%);
  clip-path: polygon(
    100% -1px,
    var(--clip-edges) -1px,
    0 var(--clip-top),
    -100vmax var(--clip-top),
    -100vmax var(--clip-bottom),
    0 var(--clip-bottom),
    var(--clip-edges) 100%,
    var(--clip-further) var(--clip-further)
  );
}

input[type="range"]:hover::-webkit-slider-thumb {
  filter: brightness(var(--brightness-hover));
  cursor: grab;
}

input[type="range"]:active::-webkit-slider-thumb {
  filter: brightness(var(--brightness-down));
  cursor: grabbing;
}

input[type="range"]::-webkit-slider-runnable-track {
  background: linear-gradient(var(--track-color) 0 0) scroll no-repeat center /
    100% calc(var(--track-height) + 1px);
}

input[type="range"]:disabled::-webkit-slider-thumb {
  cursor: not-allowed;
}

/* === Firefox specific styles === */
input[type="range"],
input[type="range"]::-moz-range-track,
input[type="range"]::-moz-range-thumb {
  appearance: none;
  transition: all ease 100ms;
  height: var(--thumb-height);
}

input[type="range"]::-moz-range-track,
input[type="range"]::-moz-range-thumb,
input[type="range"]::-moz-range-progress {
  background: #fff0;
}

input[type="range"]::-moz-range-thumb {
  background: currentColor;
  border: 0;
  width: var(--thumb-width, var(--thumb-height));
  border-radius: var(--thumb-width, var(--thumb-height));
  cursor: grab;
}

input[type="range"]:active::-moz-range-thumb {
  cursor: grabbing;
}

input[type="range"]::-moz-range-track {
  width: 100%;
  background: var(--track-color);
}

input[type="range"]::-moz-range-progress {
  appearance: none;
  background: currentColor;
  transition-delay: 30ms;
}

input[type="range"]::-moz-range-track,
input[type="range"]::-moz-range-progress {
  height: calc(var(--track-height) + 1px);
  border-radius: var(--track-height);
}

input[type="range"]::-moz-range-thumb,
input[type="range"]::-moz-range-progress {
  filter: brightness(100%);
}

input[type="range"]:hover::-moz-range-thumb,
input[type="range"]:hover::-moz-range-progress {
  filter: brightness(var(--brightness-hover));
}

input[type="range"]:active::-moz-range-thumb,
input[type="range"]:active::-moz-range-progress {
  filter: brightness(var(--brightness-down));
}

input[type="range"]:disabled::-moz-range-thumb {
  cursor: not-allowed;
}

/* Element | http://127.0.0.1:5500/ */

/* index.css | http://127.0.0.1:5500/asset/css/index.css */

.mil img {
  /* max-width: 5.5%; */
  /* max-width: inherit; */
  height: 100%;
  display: block;
  margin: auto auto;
}
.mil {
  display: contents;
}

/* index-mod.css | http://127.0.0.1:5500/asset/css/index-mod.css */

input[type="range"] {
  /* --thumb-height: 1.125em; */
  --thumb-height: 0.5em;
}

.flex-player {
  height: min-content;
  margin: auto;
}

/* index-mod.css | http://127.0.0.1:5500/asset/css/index-mod.css */

.mil img {
  /* height: 100%; */
  height: 77%;
}

/* index.css | http://127.0.0.1:5500/asset/css/index.css */

.fav {
  /* font-size: 23px; */
  /* padding: 2% !important; */
  font-size: 21px;
  padding: 0 4% !important;
}

#main {
  overflow-y: scroll;
  width: 100%;
  overflow-x: hidden;
}
.main-content {
  padding: 0 5%;
}
.nav {
  width: auto;
  padding: 5px 0;
  display: flex;
}
.main {
  width: 100%;
  height: 90vh;
  display: flex;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* background-color: #24252A; */
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 10%;
}

.album-content {
  width: 100%;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;

  background-color: #121213;
  overflow-x: scroll;
  display: flex;
}
.album-add {
  height: inherit;
  display: flex;
  padding: 0 9px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: #121213;
}
.menu {
  width: auto;
  float: right;
  padding: 6px;
}
.menu-links {
  list-style: none;
  display: flex;
}

/* Element | http://127.0.0.1:5500/# */

i.menu {
  /* display: inlin; */
  display: contents;
  width: 100%;
  text-align: center;
}

/* Element | http://127.0.0.1:5500/# */

button.menu {
  /* display: inline-block; */
  margin: 0 auto;
}

/* index-mod.css | http://127.0.0.1:5500/asset/css/index-mod.css */

<<<<<<< HEAD
header {
  /* padding: 30px 10%; */
  padding: 30px 3%;
=======
  
  .header-extra {
	/* display: contents; */
	display: flex;
  }
  
  .header-extra li {
	/* margin: 0px auto; */
	margin: 0 20px;
	list-style: none;
  }
  
  button.menu {
	margin-right: 10px;
	background: transparent;
border: none;
font-size: 24px;
  }

  button.menu:focus-within + .main-menu {
	width:250px;
	  overflow:visible;
  }


.popular, .recently{
	margin: 10px 0;
	display: flex;
  overflow-x: scroll;
  justify-content: flex-start;
  border-radius: 10px;
  background-color: #121213;
}
.jumbotron > div{
	
	width: 100%;
	border-radius: inherit;
}
.jumbotron{
	display: flex;
	justify-content: center;
	align-content: center;
	border-radius: 25px;
>>>>>>> 57a30dfc818cea9a20982117a16c28622aaa7e8d
}

.header-extra li {
  /* display: contents; */
  text-align: center;
}

/* Element | http://127.0.0.1:5500/# */

.header-extra {
  margin: 0 auto;
}

/* index-mod.css | http://127.0.0.1:5500/asset/css/index-mod.css */

.header-extra {
  /* display: contents; */
  display: flex;
}

.header-extra li {
  /* margin: 0px auto; */
  margin: 0 20px;
  list-style: none;
}

button.menu {
  margin-right: 10px;
  background: transparent;
  border: none;
  font-size: 24px;
}

button.menu:focus-within + .main-menu {
  width: 250px;
  overflow: visible;
}

.jumbotron > div {
  width: 100%;
  border-radius: inherit;
}
.jumbotron {
  display: flex;
  justify-content: center;
  align-content: center;
  border-radius: 25px;
}

/* .slide-text{
position: absolute;
top: 3%;
left: 7.5%;
color: white;
}


.slide-text p{
	margin-top: 20%;
}

.slide-text h3{
	margin-top: 30%;
	font-size: 75px;
}
.slide-content{
	position: relative;
} */

<<<<<<< HEAD
@media screen and (max-width: 900px) {
  /* Select the element with the id dashboard */
  #dashboard {
    /* Set the display property to none to hide the element */
    display: none;
  }
  .menu + .main-menu {
    width: 0;
    overflow: hidden;
    display: none;
  }

  button.menu:focus + .main-menu,
  .main-menu:focus {
    width: 250px;
    overflow: visible;
    display: block;
  }
  button:focus:not(:focus-visible) {
    outline: none;
    box-shadow: 1px 1px 5px rgba(1, 1, 0, 0.7);
  }
=======



/* Element | http://127.0.0.1:5500/ */

#main > header:nth-child(1) > a:nth-child(2) {
	height: auto;
	width: 8%;
	justify-content: center;
	display: contents;
  }
  
  /* index.css | http://127.0.0.1:5500/asset/css/index.css */
  
  .profile {
	/* font-size: 23px; */
	font-size: xx-large;
	display: flex;
	justify-content: center;
  }
  
  .jumbotron {
	/* height: 300px; */
	height: 36vh;
	margin-bottom: 10%;
  }
  
  /* index-mod.css | http://127.0.0.1:5500/asset/css/index-mod.css */
  
  #slides .inner {
	/* transition: margin-left 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000); */
	/* height: 300px; */
	height: inherit;
  }
  
 
  
  #slides {
	height: inherit;
  }
  
  #slides div {
	/* background-size: cover; */
	height: inherit;
  }
  .slide{
	 background-size: contain;
  }
  #overflow {
	height: inherit;
  }
  
  .jumbotron > div {
	height: inherit;
  }
  
  #slides .slide {
	/* justify-content: left; */
	/* height: 100%; */
	justify-content: start;
  }
  

/* index-mod.css | file:///C:/Users/Ayobamidele%20Ewetuga/Documents/Music-player/asset/css/index-mod.css */

.album-add {
	width: 20%;
  }
  
  .album-content {
	/* width: 100%; */
	width: 195%;
  }
  
  /* Element | file:///C:/Users/Ayobamidele%20Ewetuga/Documents/Music-player/index.html */
  
  .icont {
	/* margin: auto 0; */
	margin: auto auto;
  }
  
/* index-mod.css | http://127.0.0.1:5500/asset/css/index-mod.css */
/* for future case */
/* .jumbotron {
	height: 170px;
	height: 50vh;
  }
  
  #slides div {
	background-size: contain;
	background-position: center;
  }
  
  #slides div {
	width: 100%;
  } */
  

/* index-mod.css | file:///C:/Users/Ayobamidele%20Ewetuga/Documents/Music-player/asset/css/index-mod.css */

.album-add {
	width: 20%;
  }
  
  .album-content {
	/* width: 100%; */
	width: 195%;
  }
  
  .fav {
	/* font-size: 21px; */
	/* padding: 0 4% !important; */
	padding: 0 3% !important;
  }
  
  .mil img {
	/* height: 77%; */
	height: 49%;
  }
  
  /* Element | file:///C:/Users/Ayobamidele%20Ewetuga/Documents/Music-player/index.html */
  
  .icont {
	/* margin: auto 0; */
	margin: auto auto;
  }

#main .logo > img:nth-child(2) {
  width: 7%;
  margin-left: 0;
}

/* index-mod.css | http://127.0.0.1:5500/asset/css/index-mod.css?_cacheOverride=1697027870150 */

#main.TuneWave {
  /* padding: 5px 0; */
  /* text-align: center; */
  margin: 3% auto;
  display: flex;
}

#main .logo {
  height: auto;
  display: none;
  justify-content: center;
}

/* Element | http://127.0.0.1:5500/ */

#main .TuneWave > a:nth-child(1) {
  margin: 0 auto;
}

@media screen and (max-width: 900px) {
	/* Select the element with the id dashboard */
	#dashboard {
	  /* Set the display property to none to hide the element */
	  display: none;
	}
	#main .logo{
		display: flex;
	}  
	.menu + .main-menu {
		width:0;
		  overflow:hidden;
		  display: none;
	}
	
	button.menu:focus + .main-menu, .main-menu:focus {
		width:250px;
		  overflow:visible;
		  display: block;
	  }
	  button:focus:not(:focus-visible) {
		outline: none;
		box-shadow: 1px 1px 5px rgba(1, 1, 0, .7);
	  }
>>>>>>> 57a30dfc818cea9a20982117a16c28622aaa7e8d
}
@media screen and (min-width: 900px) {
  /* Select the element with the id dashboard */
  .main-menu {
    width: 0px;
    overflow: hidden;
    display: none;
  }
  button.menu:focus-within + .main-menu {
    width: 0px;
    overflow: hidden;
    display: none;
  }
}.slide-content h3, .slide-content p{
	padding-bottom: 10%;
    min-width: 20%;
    height: auto;
    max-width: 56%;
    vertical-align: bottom;
}
.slide-info{
	padding: 0!important;
    color: white;
    text-align: inherit;
    margin: 0;
    font-size: 11px;
}
.slide-info:hover{
	color: white;
}